<div class="center hero-unit">
  <h1>Welcome to the Catalog</h1>

<div class="home-icons-width" style="height:200px; width: 300px; margin: 0 auto;">
<div class="home-icon"> <!--  style="background-color:#1d9c73;" -->
	<%= link_to '', books_path, class: "fa fa-book fa-5x" %>
</div>
<div class="home-icon">
	<i class="fa fa-film fa-5x"></i>
</div>
<div class="home-icon">
	<i class="fa fa-gamepad fa-5x"></i>
</div>
</div>

  <!-- <%= link_to 'Books', books_path, class: "btn btn-large btn-primary" %> -->
  <!-- <%= link_to 'Video Games', video_games_path, class: "btn btn-large btn-primary" %> -->
  <!-- <%= link_to 'Movies', movies_path, class: "btn btn-large btn-primary" %> -->
</div>
