<div class="center hero-unit">
  <h1>Welcome to the Catalog</h1>

  <%= link_to 'Books', books_path, class: "btn btn-large btn-primary" %>
  <!-- <%= link_to 'Video Games', video_games_path, class: "btn btn-large btn-primary" %> -->
  <!-- <%= link_to 'Movies', movies_path, class: "btn btn-large btn-primary" %> -->
</div>
